preact-mfe-typescript {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

preact-mfe-typescript .logo {
  height: 6em;
  padding: 1.5em;
}
preact-mfe-typescript .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
preact-mfe-typescript .logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

preact-mfe-typescript .card {
  padding: 2em;
}

preact-mfe-typescript .read-the-docs {
  color: #888;
}
