vue-mfe-typescript a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
vue-mfe-typescript a:hover {
  color: #535bf2;
}

vue-mfe-typescript body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

vue-mfe-typescript h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

vue-mfe-typescript button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
vue-mfe-typescript button:hover {
  border-color: #646cff;
}
vue-mfe-typescript button:focus,
vue-mfe-typescript button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

vue-mfe-typescript .card {
  padding: 2em;
}

vue-mfe-typescript {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}