storage-mfe-react {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

storage-mfe-react .card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
